- page_title 'Geo Nodes'
- @content_class = "geo-admin-container"

%h2.page-title.clearfix
  %span.title-text.float-left= _("Geo Nodes")
  = link_to s_("GeoNodes|New node"), new_admin_geo_node_path, class: 'btn btn-success float-right'
%hr.page-title-separator

%p.page-subtitle.light
  With #{link_to 'GitLab Geo', help_page_path('gitlab-geo/README'), class: 'vlink'} you can install a special
  read-only and replicated instance anywhere.
  Before you add nodes, follow the
  #{link_to 'Setup instructions', help_page_path('gitlab-geo/README', anchor: 'setup-instructions'), class: 'vlink' }
  in the
  %strong exact order
  they appear.

- unless Gitlab::Database.pg_stat_wal_receiver_supported?
  = content_for :flash_message do
    .alert.alert-warning WARNING: Please upgrade PostgreSQL to version 9.6 or greater. The status of the replication cannot be determined reliably with the current version.

- if @nodes.any?
  #js-geo-nodes{ data: node_vue_list_properties }
- else
  = render 'shared/empty_states/geo'
